<script type="text/javascript" src="/js/love.js"></script>
<script type="text/javascript" src="/js/show-text.js"></script>
<script type="text/javascript" src="/js/snowflakes.min.js"></script>
<script type="text/javascript" src="/js/activate-power-mode.min.js"></script>
<script>
    new Snowflakes({ color: 'rgba(129, 161, 193, 0.87)' });

    POWERMODE.colorful = true;
    POWERMODE.shake = true
    document.body.addEventListener('input', POWERMODE);
</script>